<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="App_Data\Modules"/>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Blobs" publicKeyToken="92742159e12e44c8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.19.1.0" newVersion="12.19.1.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Azure.Storage.Common" publicKeyToken="92742159e12e44c8" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.18.1.0" newVersion="12.18.1.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
